body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-image:  linear-gradient(to right, rgba(76, 153, 212, 100) , green);
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 75px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
}

.game-info {
  margin-left: 30px;
  font-size: x-large;
}

.winner-text{
  font-size: x-large;
}

.moves{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
